* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

/*STILE BODY*/
body {
    background-color: #f6f8f9;
    font-family: 'Arial', sans-serif;
}

/*STILE HEADER*/
header {
    background-color: white; 
    height: 100px; 
    padding: 10px 20px;
}

h1 {
    color: black;
    display: inline-block;
    font-size: 60px;
    font-weight: 900;
    vertical-align: middle;
}

#logo-toboolist {
    height: 100%;
    vertical-align: middle;
}


/*STILE MAIN*/
.container {
    width: 80%;
    background-color: white;
    margin-top: 50px;
    padding: 15px 50px;
}

.button {
    height: 25px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    padding: 6px;  
}

#button1 {
    background-color: #47adf1;
    width: 70px;
    color: white
    

}

#button2 {
    width: 80px;
    color: grey;
    display: inline-block;
    background-color: white;
    border-width: 1px;
    border-color: grey;


}