* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

/*STILE BODY*/
body {
    background-color: #f6f8f9;
    font-family: 'Arial', sans-serif;
}



/*STILE HEADER*/
header {
    background-color: white; 
    height: 100px; 
    padding: 10px 20px;
}

h1 {
    color: black;
    display: inline-block;
    font-size: 60px;
    font-weight: 900;
    vertical-align: middle;
}

#logo-toboolist {
    height: 100%;
    vertical-align: middle;
}


/*STILE MAIN*/
.container1, .container2 {
    width: 80%;
    background-color: white;
    padding: 15px 50px;
}

.container1 {
    margin-top: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.container2 {
    margin-bottom: 50px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}



/*STILE BUTTON AREA*/
.button {
    width: 100px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    padding: 5px;  
}

#button1 {
    background-color: #47adf1;
    border-color: #47adf1;
    color: white
}

#button2 {
    color: grey;
    background-color: white;
    border-color: grey;
}



/*STILE LIST AREA*/
.style1, .style2 {
    padding-top: 30px;
    color: #444851;
}

.style1 {
    margin-top: 2px;
}


.list-title {
    font-weight:800;
    font-size: 25px;
}

.list-item {
    font-weight: 500;
    line-height: 40px;
}

.check, .cross {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  color: #6fc6b2;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}

.check {
    border: 2px solid #6fc6b2;
    color: #6fc6b2;
}

.cross {
    border: 2px solid #eb5e58;
    color: #eb5e58;
}


/*STILE LABEL*/
.label {
    width: 70px;
    height: 25px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 9px;
    padding: 6px 10px; 
}

.blue-label {
    background-color: #47adf1;
}

.purple-label {
    background-color: #9c72e4;
}

.green-label {
    background-color: #64c0a9;
}

.orange-label {
    background-color: #f29e33;
}

.pink-label {
    background-color: #d863a1;
}

.pea-green-label {
    background-color: #b0c926;
}
